<div>
	<p>
		<span class="disclaimer-text">
			1. Your quotes bank balance is affected by this option
		</span>
	</p>
	<p>
		<span class="disclaimer-text">
			2. Long positions are valued using the current bid price, and short positions using the current offer price. When no bid/offers are available, ruling prices are used if available.
		</span>
	</p>
	<p>
		<span class="disclaimer-text">
			3. Otherwise, the previous day's MTM prices are used. (When holding long CFD positions we value your position using the current bid price less the commission you would pay to exit the position and when you are short a position we use the offer price plus commission to exit.) Weighted average price includes brokerage charges for equities and warrants but excludes them for all other products.
		</span>
	</p>
	<p>
		<span class="disclaimer-text">
			4. The Total P&L displayed on this page does not take any dividend entries on SSF holdings and interest amounts on CFD holdings and brokerage amounts into account. For accurate P&L history, please access your Derivatives P&L report.
		</span>
	</p>
</div>