<div>
	<table class="responsive">
		<tr>
			<td>On expiry</td><td>{{JSONdata.data[0].onExpiry}}</td>
		</tr>
		<tr>
			<td>Instrument Information</td>
		</tr>
		<tr>
			<td>
				<div class="dashboard-widget-gradient"></div></td>
			</tr>
			<tr>
				<td>12 month low</td><td>{{JSONdata.data[0].twelveMonthLow}}</td>
				<td>12 month high</td><td>{{JSONdata.data[0].twelveMonthHigh}}</td>
				<td>Market cap</td><td>{{JSONdata.data[0].marketCap}}</td>
			</tr>
			<tr>
				<td>Date of low</td><td>{{JSONdata.data[0].dateOfLow}}</td>
				<td>Date of high</td><td>{{JSONdata.data[0].dateOfHigh}}</td>
				<td>P/E Ratio</td><td>{{JSONdata.data[0].peRatio}}</td>
			</tr>
			<tr ng-click>
				<td class="pointer" ng-repeat='button in dialogButtons' ng-click="goToOption(button.id)"><i class="fi-calendar"> {{button.name}}</i></td>
			</tr>
		</table>
	</div>