<div>
	<span class="headingFormat">Portfolio performance</span>
</div>
<div class="row">
	<hr/>
</div>
<div class="row">
	<div class='columns large-12 medium-4 small-12'>
		<div class='portfolio-performance-text left'>
			<div class="portfolio-performance-text">% Holding period return showing
			</div>
			<div class="portfolio-performance-text"> 
			</div>
			<div class="portfolio-performance-text">
			<i class="fi-arrow-left"></i>&nbsp;&nbsp;&nbsp;
			<a href="" ng-repeat="year in years" class="years-selection"><span>{{year}}</span></a>
			&nbsp;&nbsp;&nbsp;<i class="fi-arrow-right"></i>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<highchart id="chart1" config="portfolioPerformanceChart"></highchart>
</div>
<div class="row">
	<div class='columns large-12 medium-4 small-12'>
		<div class='portfolio-performance-text center-calendar-text pointer'><i class="fi-calendar"></i>&nbsp;&nbsp;&nbsp;<span>Compare with previous years</span>
		</div>
	</div>
</div>
<!-- <div class="row">
	<div class="left">
		% Holding period return
	</div>
	<div class="right details-overlay-lable">
		<select>
			<option>2015</option>
			<option>2014</option>
			<option>2013</option>
			<option>2012</option>
			<option>2011</option>
			<option>2010</option>
		</select>
	</div>
</div>
<div class="row" kendo-chart k-options="portfolioPerformanceChart"/>
<div class="row">
	<div class="right">
		<i class="fi-calendar"></i> <span class="portfolio-performance-previous-years">Show previous years</span>
	</div>
</div>
 -->