<div>
<table class="sector-breakdown-additional-info">
	<tr class="sector-breakdown-additional-info" ng-repeat="row in sectorBreakdownAdditionalInfo">
	<td class="grid-additional-information-data sector-breakdown-additional-info text-blue">{{row.sectorName}}</td> 
		<td class="grid-additional-information-data right">{{row.cost}}</td>
		<td class="grid-additional-information-data right">{{row.marketValue}}</td>
		<td class="grid-additional-information-data right">{{row.difference}}</td>
		<td class="grid-additional-information-data right">{{row.portfolio}}</td>
	</tr>
</table>