/* Start of override css from main.css */

.details-overlay {
	border: 1px solid #999;
	border-radius: 3px;
	padding: 18px 20px;
	margin-top: 8px;
	background: #eff0f3;
	position: relative;
	height: 162px;
}

.sub-header-options {
	font-weight: bold;
	color: #0099FF;
}

/* End of override css from main.css */

/* Start of custom OST css */

.details-overview {
	font-size: 12px;
	color: #666666;
	font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
	padding-right: 20px;
}

.portfolio-value-bold {
	font-size: 14px;
	color: #666666;
	font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
	display: inline-block;
	font-weight:900;
	margin-right: 20px;
}

.details-overview-bluetext {
	font-size: 12px;
	color: #2570e0;
	font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
	display: inline-block;
	margin-right: 20px;
}

.details-overview-feed-details {
	font-size: 12px;
	color: #999;
	font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
	display: block;
	width: 500px;
	padding-bottom: 0;
}

.gainers1 {
	background-color: #008000;
	padding:2px;
}

.gainers2 {
	background-color: #0d860d;
	padding:2px;
}

.gainers3 {
	background-color: #198c19;
	padding:2px;
}

.gainers4 {
	background-color: #269226;
	padding:2px;
}

.gainers5 {
	background-color: #51a851;
	padding:2px;
}

.losers1 {
	background-color: #FF0000;
	padding:2px;
}

.losers2 {
	background-color: #ff1919;
	padding:2px;
}

.losers3 {
	background-color: #ff3333;
	padding:2px;
}

.losers4 {
	background-color: #ff4c4c;
	padding:2px;
}

.losers5 {
	background-color: #ff6666;
	padding:2px;
}

.seperator {
	border-left:1px solid #DEDEDE;
	padding-left:10px;
}

.account-details-amounts-bold-phone {
	font-size: 14px; 
	color: #666666; 
	font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
	display: inline-block;
	font-weight:900;
	margin-right: 0;
}

.account-breadcrumb {
	display: inline-block;
	padding: 0;
	background-color: #E9EAED;
	height: 26px;
}

.streaming-button {
	width: 80px;
	height: 33px;
	border: 1px solid #2f67b1;
	border-radius: 3px;
	background-color: #2f67b1;
	padding: 7px;
	color: #FFF;
	font-size: 13px;
}

.account-dropdown-position {
	top: 86px !important;
}

.details-overview-amounts-bold {
	font-size: 14px;
	font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
	display: inline-block;
	font-weight:900;
	margin-right: 10px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textare {
	-webkit-appearance: none;
	border-radius: 3px;
	background-color: #fafafa;
	font-family: inherit;
	border-style: solid;
	border-width: 1px;
	border: 1px solid #999;
	border-color: #999;
	/* box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1) */;
	/* color: rgba(0, 0, 0, 0.75); */
	display: block;
	font-size: 13px;
	margin: 0 0 1rem 0;
	padding: 0.5rem;
	height: 33px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: all 0.15s linear; 
}

/* End of custom OST css */