<li ng-controller="PortfolioOverviewCtrl" class="portfolio-overview-container left" ng-show="view == 1"
ng-include src="'views/portfolio/partials/views/portfolio-overview-web.html'"></li>
<li ng-controller="SectorBreakdownCtrl" class="portfolio-overview-container left" ng-show="view == 2" 
ng-include src="'views/portfolio/partials/views/sector-breakdown.html'"></li>
<li ng-controller="PortfolioPerformanceCtrl" class="portfolio-overview-container left" ng-show="view == 3"
ng-include src="'views/portfolio/partials/views/portfolio-performance.html'"></li>
<li ng-controller="MarketNewsCtrl" class="portfolio-overview-container left" ng-show="view == 4" 
ng-include src="'views/portfolio/partials/views/market-news.html'"></li>
<li class="portfolio-overview-container left" ng-show="view == 5" 
ng-include src="'views/portfolio/partials/views/triggers.html'"></li>
<li class="portfolio-overview-container left" ng-show="view == 6" 
ng-include src="'views/portfolio/partials/views/orders.html'"></li>
<li class="portfolio-overview-container left" ng-show="view == 7" 
ng-include src="'views/portfolio/partials/views/cash-history.html'"></li>
<li class="portfolio-overview-container left" ng-show="view == 8" 
ng-include src="'views/portfolio/partials/views/reports.html'"></li>
<li class="portfolio-overview-container left" ng-show="view == 9" 
ng-include src="'views/portfolio/partials/views/statements.html'"></li>
<li class="portfolio-overview-container left" ng-show="view == 10" 
ng-include src="'views/portfolio/partials/views/cost-structure.html'"></li>
<li class="portfolio-overview-container left" ng-show="view == 11" 
ng-include src="'views/portfolio/partials/views/contract-notes.html'"></li>