/* Start of override css from main.css */

/* End of override css from main.css */

/* Start of custom OST css */

.portfolio-overview-container {
  width: 100%;
  background: white;
  border: 1px solid #999999;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  float: left;
  margin-bottom: 20px;
  list-style-type: none;
  font-size:12px !important; 
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  position: relative;
  padding: 20px;
  z-index:0;
  min-height: 600px;
}

.portfolio-performance-buttons {
  display: inline-block;
  margin-top: 0;
}

.search-button-size {
  height: 32px;
  width: 149;
}

.details-bluetext {
  font-size: 14px;
  color: #2570e0;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block;
  margin-top: 10px;
}

.icons-dashboard-overview {
  float:right;
  top: 10px;
}

.headingFormat {
  font-size: 24px;
  color:#2570e0;
}

.row-headings-market-news {
  font-weight:bold;
  font-size: 14px;
  color: #666666;
}

.row-data-market-news-date {
  font-size: 14px;
  color:#999999;
  margin-bottom:10px; 
  border-bottom:1px solid #e3e4e4;
}

.row-data-market-news-description {
  font-size: 14px;
  color:#2570E0;
  margin-bottom:10px; 
  border-bottom:1px solid #e3e4e4;
}

.portfolio-performance-previous-years {
  font-size: 14px;
  color: #666666;
}

.fi-calendar {
  font-size: 40px;
}

fieldset {
  height: 16px;
}

.switch label {
  background-color: #0099FF;
}

.switch input:checked + label {
  background-color: #0099FF;
}

table thead tr th, table tr td {
  font-size: 10px;
}

.switch.tiny label {
  height: 16px;
  vertical-align: bottom;
}

.switch.tiny label:after {
  height: 8px;
  width: 8px;
}  

.portfolio-performance-text {
  font-size: 16px;
  color: #666666;
  font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 10px;
}

.on-expiry {
  padding-bottom: 20px;
  padding-top: 10px;
}

.center-calendar-text {
  padding-left: 280px;
}

.button-padding-right {
  padding-right: 30px;
}

.grid-additional-information {
  font-family: 'Arial';
  font-size: 11px;
  color: #666666;
  display: inline-block;
  text-align: left;
  line-height: normal;
  font-style: normal;
}

table {
  width:824px;
}

.grid-additional-information-data {
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  color: #999999;
  border-style: none !important;
  background-color: #FFFFFF;
}

.grid-additional-information-headings {
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  color: #666666;
  border-style: none !important;
  background-color: #FFFFFF;
}

.grid-on-expiry-heading {
  font-weight:bold;
  font-weight: 700;
  padding-right: 63px;
}

.grid-additional-information-links {
  padding-right: 40px;
  padding-bottom: 15px;
  color : #0000FF;
}

.grid-additional-information-tabs {
  padding-top: 15px;
}

.tabs dd > a {
  font-family: 'Arial';
  font-size: 11px;
  color: #666666;
  display: inline-block;
  text-align: left;
  line-height: normal;
  font-style: normal;
  padding-right: 10px;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  background: #FFFFFF !important;
}

.k-grid-content {
  overflow-y: hidden;
  overflow-x: hidden;
}

.tabs dd.active a {
  color:#2570E0;
}

.tabs dd:not(:last-child) {
  border-right: 1px solid #000000;
}

.tabs dd:last-child {
  padding-left: 10px;
}

.years-selection:hover {
  text-decoration: underline;
  color:#2570E0;
}

.years-selection {
  border-right: 1px solid #000000;
  padding-left: 10px;
  padding-right: 10px;
}

.years-selection:last-of-type {
  border-right: none;
}

.k-hierarchy-cell, .k-hierarchy-col {
  display: none;
}

.padding-below-performers {
  padding-bottom: 30px;
}

.sector-breakdown-additional-info {
  padding-left: 50px;
}

/* End of custom OST css */