<div class="blur-placeholder blur">
</div>
<div ng-include src="'common/header.html'">
</div>
<div ng-include src="'views/accounts/partials/header.html'">
</div>
<div>
	<div class="body-wrapper">
		<div class="row">
			<div ng-include src="'views/accounts/partials/cash-summary.html'" class="columns accounts-details-wrapper"></div>
		</div>
		<div class="row">
			<div class="show-for-large columns large-1 medium-6 small-12 left empty-box-container" ng-include src="'views/portfolio/partials/sections.html'"></div>
			<div class="show-for-large columns large-11 medium-12 right acc-trans-body-container" 
			ng-include src="'views/portfolio/partials/views.html'"></div>
			<div class="hide-for-large" ng-include src="'views/portfolio/partials/views/accordion.html'"></div>
			<div class="columns large-12 medium-12 right acc-trans-body-container noLeftPadding" ng-include src="'common/footer.html'"></div>
		</div>	
	</div>
</div>
