@media only screen and (max-width: 40em) {
	.portfolio-performance-buttons, .downloadDropdownMargin, .downloadDropdown, .downloadOption {
		width: 100% !important;
	}

	.search-textbox {
		width: 100%;
	}
	
	.top-performers-name {
		padding-top: 6px;
		font-size:12px;
		padding-right:15px;
		font-family: "HelveticaNeue-Regular", "HelveticaNeue", "robotoregular", Arial, sans-serif;
		color:#FFF;
		width:25%;
	}

	table {
		width:100% !important;
	}
}